<!doctype>
<html>
<head>
  <title>{{group.name}}</title>
</head>

<body>
  <a href="{% url 'home' %}">Home</a>
  <h1>{{group.name}}</h1>
  <!--<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Create</button>
  </form>-->
  <p>
    Your verification code is {{group.invit_code}}.
  </p>
  {% if messages %}
    {% for message in messages %}
      {{message}}
    {% endfor %}
  {% endif %}
  <div>
    {% if tasks %}
     <p>{{ total_completed }} / {{ total_tasks }} tasks completed. 
      <a href="{% url 'undone_tasks' group.id %}">See undone tasks</a>
     </p>
      {% for task in tasks %}
        <p>
          <form action="{% url 'toggle_task' task.id %}" method="POST">
            {% csrf_token %}
              <input type="checkbox" name="completed" {% if request.user != task.assigned_to %}disabled{% endif %}  onchange="this.form.submit()"
                 {% if task.completed %}checked{% endif %}>
          </form>
         {{task.title}} assigned to {{task.assigned_to.username}}.
        </p>
      {% endfor %}
    {% else %}
      <h5>No tasks assigned for the moment</h5>  
    {% endif %}
  <a href="{% url 'add_task' group.id %}">Add a task to this group</a>
  </div>

{% if documents %}
  {% for document in documents %}
  <div>
    <p>{{document.title}} - <a href="{{document.file}}">Download</a> - 
<form action="{% url 'delete_doc' document.id %}" method="POST" style="display:inline;">
  {% csrf_token %}
  <button type="submit">
    delete
  </button>
</form>
</p>
  </div>
  {% endfor %}
{% else %}
  <h3>There's no documents available</h3>
{% endif %}
  <p>Upload <a href="{% url 'upload' group.id %}">here</a>
</body>
</html>
