<!doctype>
<html>
<head>
  <title>{{group.name}}</title>
</head>

<body>
  <h1>{{group.name}}</h1>
  <!--<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Create</button>
  </form>-->
  <p>
    Your verification code is {{group.invit_code}}.
  </p>
  {% if messages %}
    {% for message in messages %}
      {{message}}
    {% endfor %}
  {% endif %}

{% if documents %}
  {% for document in documents %}
  <div>
    <p>{{document.title}} - <a href="{{document.file}}">Download</a> - 
<form action="{% url 'delete_doc' document.id %}" method="POST" style="display:inline;">
  {% csrf_token %}
  <button type="submit">
    delete
  </button>
</form>
</p>
  </div>
  {% endfor %}
{% else %}
  <h3>There's no documents available</h3>
{% endif %}
  <p>Upload <a href="{% url 'upload' group.id %}">here</a>
</body>
</html>
