<!doctype>
<html>
<head>
  <title>My groups</title>
</head>

<body>
  <a href="{% url 'home' %}">Home</a>
  <h1>My groups</h1>
  <ul>
  {% if messages %}
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  {% endif %}
  {% if groups %}
    {% for group in groups %}
      <li> <a href="{% url 'home_group' group.id %}">{{group.name}}</a>
      {% if group.creator == request.user %}
      <form action="{% url 'delete_group' group.id %}" method="POST">
        {% csrf_token %}
         <button type="submit">
          delete
         </button>
      </form>
      <a href="{% url 'rename_group' group.id %}">Rename</a>
      {% endif %}
</li>
    {% endfor %}
  {% else %}
    <h4>You don't belong to any groups yet.</h4>
  {% endif %}
  </ul>
  <p><a href="{% url 'create_group' %}">Create</a> your group</p>
  <p><a href="{% url 'join_group' %}">Join</a> your group</p>
</body>
</html>
