<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>


<body>
    <div class="background-pattern"></div>
    <header>
      <a href="{% url 'home' %}">
        <div class="logo">      
              <i class="fas fa-archive">
              </i>
            StuCollab
        </div>
      </a>
    </header>
    <div class="container">
        <div class="form-box">
            <h1>Bienvenue</h1>
            <div class="tab">
                <button id="loginTab" class="active" onclick="showForm('login')">Connexion</button>
                <button id="registerTab" onclick="showForm('register')">Inscription</button>
            </div>


<!--Login Form -->
    {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
    {% endif %}

    {% if signin_form.errors %}
      {% for field, errors in signin_form.errors.items %}
        {% for error in errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      {% endfor %}
    {% endif %}

            <form id="loginForm" class="form active" method="POST">
              {% csrf_token %}
                <div class="input-group">
                    <label for="loginEmail">{{signin_form.username.label_tag}}</label>
                    <i class="fas fa-envelope"></i>
                       {{signin_form.username}}
                </div>
                <div class="input-group">
                    <label for="loginPassword">{{signin_form.password.label_tag}}</label>
                    <i class="fas fa-lock"></i>
                   {{signin_form.password}}
                </div>
                <button type="submit" name="signin_submit">Se connecter</button>
                <div class="form-footer">
                    <a href="#">Forgotten password?</a>
                </div>
                <div class="social-login">
                    <p>Or login with</p>
                    <div class="social-buttons">
                        <button type="button" class="social-button">
                            <i class="fab fa-google"></i>
                            Google
                        </button>
                        <button type="button" class="social-button">
                            <i class="fab fa-facebook"></i>
                            Facebook
                        </button>
                    </div>
                </div>
            </form>


            <form id="registerForm" class="form" method="POST">
              {% csrf_token %}
                <div class="input-group">
                    <label for="registerName">{{signup_form.username.label_tag}}</label>
                    <i class="fas fa-user"></i>
                      {{signup_form.username}}
                </div>
                <div class="input-group">
                    <label for="registerEmail">{{signup_form.email.label_tag}}</label>
                    <i class="fas fa-envelope"></i>
                      {{signup_form.email}}
                </div>
                <div class="input-group">
                    <label for="registerPassword">{{signup_form.password1.label_tag}}</label>
                    <i class="fas fa-lock"></i>
                      {{signup_form.password1}}
                </div>
                <div class="input-group">
                    <label for="registerPassword">{{signup_form.password2.label_tag}}</label>
                    <i class="fas fa-lock"></i>
                      {{signup_form.password2}}
                </div>
                <button type="submit" name="signup_submit">S'inscrire</button>
            </form>
        </div>
    </div>
    <script>
        function showForm(form) {
            document.getElementById('loginForm').classList.remove('active');
            document.getElementById('registerForm').classList.remove('active');
            document.getElementById('loginTab').classList.remove('active');
            document.getElementById('registerTab').classList.remove('active');
            
            if(form === 'login') {
                document.getElementById('loginForm').classList.add('active');
                document.getElementById('loginTab').classList.add('active');
            } else {
                document.getElementById('registerForm').classList.add('active');
                document.getElementById('registerTab').classList.add('active');
            }
        }

    </script>
</body>
</html>
